.container{
    position: fixed;
    height: 100vh;
    width: 100%;
   
}

.body{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
   /* background-color: blueviolet;*/
   /* background: rgb(2,0,36);*/
   /* background: linear-gradient(90deg, #000000 0%, #141E30 100%);*/
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 11rem), 1fr));
    grid-auto-flow:dense;
    grid-auto-rows:90%;
    grid-gap: 2%;
    overflow: auto;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
    margin-left: 6rem;
  
}

.article{
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    grid-column:span 2;
    word-break: keep-all;
    padding-right: 5%;
    padding-top: 10%;
  
}
.title{
    width: 100%;
    font-size:calc((1vw + 3rem));
    font-weight: bold;
    font-family:Georgia;
    margin-left: 3rem;
    margin-top: -2rem;
    margin-bottom: 0.5rem;
    color: rgb(212, 175, 55);
    background-image: linear-gradient(90deg, rgb(212, 175, 55), #581845);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: rgb(212, 175, 55, 0.2); 
    -moz-text-fill-color: transparent;
    word-break: keep-all;
    
}
.title2{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'Times New Roman';
    color: #fff;
    margin-bottom: 4rem;
    animation: showText 2s ease-in;
    padding-left: 5%; 
    padding-right: 7%;
    
}


.article2{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  grid-column:span 2;
  flex-direction: column;
  margin-top: 5%;
  
}

.text{
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'Times New Roman';
    color: #fff;
    margin-bottom: 4rem;
    animation: showText 2s ease-in;
    word-break: keep-all;
}


.homeImg{
    width:calc((30% + 5rem));
    height:calc((30% + 5rem));
    margin-top: -5rem;
    animation: showText 2s ease-in;
}
@media screen and (max-width:767px){
    .body{
        margin-left: 0%;
        margin-top: 14%;
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
       /* background-color: blueviolet;*/
       /* background: rgb(2,0,36);*/
       /* background: linear-gradient(90deg, #000000 0%, #141E30 100%);*/
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 11rem), 1fr));
        grid-auto-flow:dense;
        grid-auto-rows:auto;
        grid-gap: 2%;
        overflow: auto;
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
        
    }

    .title{
     font-size: 2.5rem;
     margin-top: 1rem;
     margin-left: 1rem;
    }
    .text{
        bottom: 2rem;
    }
}

@keyframes showText{ 
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


